/* acasanamontanha.css */

body {
    background-color: black;
}
        
p {
    text-align: center;
}
        
h1 {
    text-align: center;
}
        
h2 {
    text-align: center;
}

a {
    color: red;
}
